* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: hsl(210, 60%, 98%);
  font-family: "Plus Jakarta Sans", serif;
}

.container {
  max-width: 850px;
  margin: 80px auto;
  background-color: hsl(210, 60%, 98%);
}

.wrapper {
  background-color: white;
  padding: 40px 30px 0;
  margin: 13px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.title-left {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

p.notifi {
  color: hsl(224, 21%, 14%);
  font-weight: 800;
  font-size: 25px;
}
p.num {
  margin-left: 15px;
  background-color: hsl(219, 85%, 26%);
  padding: 8px 10px;
  color: white;
}

a.mark {
  font-weight: 500;
  color: hsl(219, 12%, 42%);
  text-decoration: none;
}

a.text:hover,
a.name:hover,
a.group:hover,
a.mark:hover {
  color: hsl(219, 85%, 26%);
}

p.message:hover {
  background-color: hsl(211, 68%, 94%);
}

.msg:hover {
  background-color: hsl(211, 68%, 94%);
  border: none;
}

.single-box {
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
}

.single-box.unseen {
  background-color: hsl(210, 60%, 98%);
  border-radius: 5px;
  padding: 20px;
}

.avatar img {
  width: 50px;
  margin-right: 20px;
}

a.name {
  color: hsl(224, 21%, 14%);
  text-decoration: none;
  font-weight: 800;
  margin-right: 8px;
  font-size: 16px;
}

a.text {
  color: hsl(219, 12%, 42%);
  font-weight: 800;
  text-decoration: none;
  font-size: 16px;
}

p.time {
  color: hsl(219, 12%, 42%);
  font-size: 14px;
}

span.dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: red;
  margin-left: 10px;
  border-radius: 50%;
}

.group {
  text-decoration: none;
  color: hsl(219, 85%, 26%);
  font-weight: 800;
}

.msg {
  margin-top: 10px;
  border: 1px solid hsl(219, 12%, 42%);
  padding: 15px;
}

p.message {
  color: hsl(219, 12%, 42%);
}

.left {
  display: flex;
}

.comment {
  justify-content: space-between;
}

.img-box img {
  width: 60px;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 13px;
    background-color: hsl(210, 60%, 98%);
  }

  .container {
    background-color: hsl(210, 60%, 98%);
    margin: 20px auto;
  }

  .wrapper {
    background-color: white;
    padding: 25px 15px 0;
    margin: 16px;
    border-radius: 15px;
    box-shadow: 0px, 0px, 26px, -13px rgba(0, 0, 0, 0.26);
  }

  .tool-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  .title {
    display: flex;
    align-items: center;
  }
}
